
/* ****************
    GENERAL
**************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
}

.flex{
    display: flex;
}

button{
    border: none;
}

a{
    text-decoration: none;
}


/* ****************
    XS PART
**************** */

/* HEADER */

header{
    background-color:rgb(0,0,0);
    width: 50px;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-between;
}

.menu-icons{
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
}

span{
    display: none;
}

#playlist{
    display: none;
}

.icons-bottom{
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
}

.icons-bottom hr{
    display: none;
}

#logo i{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

header i{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.icons-bottom .fa-download{
    font-size: 0.8rem;
    color: grey;
}

/* MAIN */

main{
    background-color: rgb(20,25,34);
    flex-grow: 1;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

#upgrade{
    background-color: rgb(9,11,18);
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}

#upgrade button{
    background-color: rgb(9,11,18);
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    height: 50%;
    margin-right: 5px;
}

#upgrade button a{
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

 /* PARTE MAIN CON LE ICONE */

#upper-menu{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#upper-menu h3{
    color: grey;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 20px 20px 25px 20px;
    font-weight: 400;
}

.icons{
    padding: 0 20px;
}

.icons h2{
    color: white;
    margin: 30px 0 10px 0;
}

.cards{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.card{
    width: calc(100% / 2 - 8px);
    margin-bottom: 10px;
    text-align: center;
}

.card div{
    position: relative;
}

.card img{
    width: 100%;
}

.play{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

.card div:hover + .play{

    opacity: 50%;
}

.card h3{
    color: white;
    margin: 10px 0 5px 0;
}

.icons p{
    color: grey;
}


/* FOOTER */

footer{
    background-color: rgb(40,40,40);
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

footer section{
    width: calc(100% / 3 - 10px);
    height: 70%;
    margin: 0 10px;
}

footer section:nth-child(2){
    width: 45%;
}

#footer-left{
    align-items: center;
    justify-content: space-between;
}

#song-photo{
    height: 40%;
    align-items: center;
}

#song-photo img{
    height: 100%;
}

#title{
    margin-left: 5px;
}

#title h4{
    font-weight: 700;
    color: white;
}

#title p{
    color: lightgray;
    font-size: 0.8rem;
}

#favourite-folder{
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
}

#favourite-folder i{
    color: grey;
    display: block;
    font-size: 1rem;
}

#play-buttons{
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

#play-buttons i{
    color: white;
    font-size: 1.2rem;
}

#play-buttons i:nth-child(3){
    font-size: 1.5rem;
}

#timing{
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

#timing p{
    color: white;
    font-size: 0.6rem;
    width: 20%;
}

#timing p:last-child{
    justify-content: end;
}

footer hr{
    height: 2px;
    border: none;
}

#timing .lines{
    width: 80%;
}

#past{
    width: 30%;
    background-color: rgb(193,193,193);
    margin-left: 5px;
}

#future{
    width: 70%;
    background-color: grey;
    margin-right: 5px;
}

#footer-right{
    justify-content: space-around;
    align-items: center;
}

#footer-right i{
    color: white;
    font-size: 0.8rem;
}

#volume-down{
    width: 30px;
    background-color: rgb(193,193,193);
 
}

#volume-up{
    width: 50px;
    background-color: grey;
}

/* **********************************************************
    S PART
************************************************************* */

@media screen and (min-width: 576px) {

/* HEADER */

    header{
        width: 250px;
    }

    header i{
        color: white;
        font-size: 1.2rem;
    }

    .menu-icons{
        align-items: flex-start;
    }

    #logo{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    #logo i{
        font-size: 2rem;
        margin: 0;
    }

    .menu-icons span{
        display: block;
        margin-left: 5px;
    }

    #logo span{
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .pippo{
        align-items: center;
        margin-bottom: 15px;
    }

    .pippo i,
    #create-playlist i
    {
        margin: 0;
    }

    .pippo span{
        color: grey;
        font-size: 0.7rem;
    }

    #playlist{
        display: inline;
        margin-top: 10px;
    }

    #playlist h3{
        text-transform: uppercase;
        color: white;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    #create-playlist{
        align-items: center;
    }

    #playlist span,
    #playlist p,
    .icons-bottom span
    {
        color: grey;
        font-size: 0.7rem;
    }

    #playlist p{
        margin-top: 15px;
    }

    .icons-bottom{
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .icons-bottom hr{
        display: block;
        width: 100%;
        background-color: grey;
        height: 1px;
        border: none;
    }

    .icons-bottom i{
        margin-bottom: 0;
    }

    .icons-bottom div{
        align-items: center;
        margin: 10px 0;
    }

    .icons-bottom span{
        display: block;
        margin-left: 5px;
    }

    #user{
        color: white;
        font-weight: bold;
    }



    /* FOOTER */

    #footer-left,
    #footer-right{
        width: 150px;
    }

    #footer-center{
        width: 300px;
    }

}

@media screen and (min-width: 768px) {


 /* PARTE MAIN CON LE ICONE */

    #upper-menu{
        margin: 0 auto;
        justify-content: center;
    }

    .cards{
        justify-content: flex-start;
        margin: 30px 0;
    }

    .card{
        width: calc(100% / 4 - 16px);
        margin: 10px 8px;
    }

}



@media screen and (min-width: 992px) {

 /* PARTE MAIN CON LE ICONE */


    #upper-menu{
        margin: 0 auto;
        justify-content: center;
    }


    .card{
        width: calc(100% / 6 - 16px);
    }

}