
/* ****************
    GENERAL
**************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 500px;
}

.flex{
    display: flex;
}

button{
    border: none;
}

a{
    text-decoration: none;
}


/* ****************
    XS PART
**************** */

/* HEADER */

header{
    background-color:rgb(0,0,0);
    width: 50px;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu-icons{
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
}

header span,
header a{
    display: none;
}

#playlist{
    display: none;
}

#playlist a:hover{
    color: white;
}

.icons-bottom{
    flex-direction: column;
    align-items: center;
    margin: 10px 15px;
}

.icons-bottom hr{
    display: none;
}

#logo i{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

header i{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.fa-search,
.fa-book{
    color: grey;
}

.icons-bottom .fa-download{
    font-size: 0.8rem;
    color: grey;
}

/* MAIN */

main{
    background-color: rgb(20,25,34);
    flex-grow: 1;
    width: calc(100% - 50px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

#upgrade{
    background-color: rgb(9,11,18);
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}

#upgrade button{
    background-color: rgb(9,11,18);
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    height: 50%;
    margin-right: 25px;
}

#upgrade button:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}

#upgrade button a{
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

 /* PARTE MAIN CON LE ICONE */

#upper-menu{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#upper-menu a{
    color: grey;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 10px 10px 15px 10px;
    font-weight: 400;
    position: relative;
}

#upper-menu a:hover{
    color: white;
}

#upper-menu a hr{
    height: 2px;
    border: none;
    background-color: rgb(161,237,49);
    width: 50%;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translate(+50%, +50%);
}

.icons{
    padding: 0 20px;
}

.icons h2{
    color: white;
    margin: 30px 0 10px 0;
}

.cards{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.card{
    width: calc(100% / 2 - 8px);
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
}

.card figure{
    position: relative;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.cards:last-child img{
    border-radius: 50%;
}

.play{
    display: none;
    position: absolute;
    border-radius: 50%;
    padding: 12px;
    padding-left: 16px;
    width: 3.2rem;
    background-color: rgb(36, 211, 78);
    text-align: center;
    bottom: 6%;
    right: 5%;
    color: black;
    font-size: 1.6rem;
    animation-duration: 400ms;
}

.card:hover .play{
    display: block;
    animation-name: play;
}

.card:hover{
    background-color: rgb(49, 46, 49);
}

.play:hover{
    transform: scale(1.03);
}

@keyframes play {
    0%   { transform: translateY(10px); opacity: 10%; }
  100% { transform: translateY(0); opacity: 1; }
}

.card h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card h3 a{
    display: inline-block;
    color: white;
    margin: 10px 0 5px 0;
}

.icons p{
    color: grey;
}


/* FOOTER */

footer{
    background-color: rgb(40,40,40);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

footer section{
    width: calc(100% / 3 - 10px);
    height: 70%;
    margin: 0 10px;
}

.grey{
    color: grey;
}

.grey:hover{
    color: white;
}

#footer-center{
    width: 45%;
}

#footer-left{
    align-items: center;
    justify-content: space-between;
}

#song-photo{
    height: 40%;
    align-items: center;
}

#song-photo img{
    height: 50px;
}

#title{
    margin-left: 5px;
}

#title h4{
    font-weight: 700;
    color: white;
}

#artist{
    color: lightgray;
    font-size: 0.8rem;
}

#artist:hover{
    text-decoration: underline;
}

#favourite-folder{
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
}

#favourite-folder a{
    color: grey;
    font-size: 1rem;
    margin-left: 5px;
}

#favourite-folder a:hover{
    color: white;
}

#play-buttons{
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 200px;
    margin: auto;
}

#play-buttons a{
    font-size: 1.2rem;
}

#play-buttons .fa-play-circle{
    color: white;
}

#play-buttons .fa-play-circle:hover{
    transform: scale(1.2);
}

#play-buttons a:nth-child(3){
    font-size: 1.6rem;
}

#timing{
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

#timing p{
    color: white;
    font-size: 0.6rem;
    width: 20%;
}

#timing p:first-child{
    justify-content: end;
}

footer hr{
    height: 4px;
    border: none;
}

.lines{
    width: 80%;
    margin: 0 5px;
}

.lines a:first-child{
    width: 40%;
}

.lines a:last-child{
    width: 100%;
}

.lines a:first-child{
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

#past{
    width: 100%;
    background-color: rgb(193,193,193);
    border-radius: 50px;
}

#future{
    width: 100%;
    background-color: grey;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.lines:hover #circle,
.volume:hover #circle-volume
{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.lines:hover #past{
    background-color: rgb(173,255,46);
}

#footer-right{
    justify-content: space-around;
    align-items: center;
}

#footer-right>a{
    font-size: 0.8rem;
    margin-right: 5px;
}

.volume a:first-child{
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

#volume-down{
    width: 30px;
    background-color: rgb(193,193,193);
    border-radius: 50px;
}

#volume-up{
    width: 50px;
    background-color: grey;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.volume:hover #volume-down{
    background-color: rgb(173,255,46);
}

.hover-upper-text{
    display: none;
    position: absolute;
    top: -350%;
    transform: translate(-40%);
    padding: 10px 10px;
    font-size: 0.6rem;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    white-space: nowrap;
    text-transform: none;
}

#play-buttons .hover-upper-text{
    top: -200%;
}

#play .hover-upper-text{
    top: -140%;
    transform: translate(-20%);
}

.grey{
    position: relative;
}

.grey:hover .hover-upper-text{
    display: block;
}



/* **********************************************************
    S PART
************************************************************* */

@media screen and (min-width: 576px) {

/* HEADER */

    header{
        width: 200px;
    }

    header i{
        color: white;
        font-size: 1.2rem;
    }

    .menu-icons{
        align-items: flex-start;
    }

    #logo{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    #logo i{
        font-size: 2rem;
        margin: 0 5px;
    }

    .menu-icons span,
    header a
    {
        display: block;
    }

    header i{
        margin-right: 5px;
    }

    #logo span{
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .header-icon{
        align-items: center;
        margin-bottom: 15px;
    }

    .header-icon i,
    #create-playlist i
    {
        width: 28px;
        margin: 0;
    }

    header a{
        color: grey;
        font-size: 0.7rem;
    }

    header .header-icon:hover i,
    header .header-icon:hover a,
    .icons-bottom div:first-child:hover .fa-download,
    .icons-bottom div:first-child:hover a
    {
        color: white;
    }

    #playlist{
        display: inline;
        margin-top: 10px;
    }

    #playlist h3{
        text-transform: uppercase;
        color: white;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    #create-playlist{
        align-items: center;
    }

    #playlist a{
        color: grey;
        font-size: 0.7rem;
    }

    #playlist-scrollbar{
        overflow-y: auto;
    }

    #playlist-scrollbar>a{
        margin-top: 15px;
    }

    .icons-bottom{
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .icons-bottom hr{
        display: block;
        width: 100%;
        background-color: grey;
        height: 1px;
        border: none;
    }

    .icons-bottom i{
        margin-bottom: 0;
    }

    .icons-bottom div{
        align-items: center;
        margin: 10px 0;
    }

    .icons-bottom a{
        display: block;
        margin-left: 5px;
    }

    #user{
        color: white;
        font-weight: bold;
    }

    /* MAIN */

    main{
        width: calc(100% - 200px);
    }

    /* FOOTER */

    #footer-left,
    #footer-right{
        width: 150px;
    }

    #footer-center{
        width: 280px;
    }

}



/* **********************************************************
    MEDIUM PART
************************************************************* */

@media screen and (min-width: 768px) {


/* PARTE MAIN CON LE ICONE */

    #upper-menu{
        margin: 0 auto;
        justify-content: center;
    }

    .cards{
        justify-content: flex-start;
        margin: 30px 0;
    }

    .card{
        width: calc(100% / 4 - 16px);
        margin: 10px 8px;
    }

/* FOOTER */

    #footer-left,
    #footer-right
    {
        width: 200px;
    }

    #favourite-folder{
        flex-direction: row;
        align-items: center;
    }

    #favourite-folder i{
        margin-left: 10px;
    }

    #footer-center{
        width: 400px;
    }

    #timing{
        margin: auto;
    }

}



/* **********************************************************
    LARGE PART
************************************************************* */

@media screen and (min-width: 992px) {

 /* PARTE MAIN CON LE ICONE */


    #upper-menu{
        margin: 0 auto;
        justify-content: center;
    }


    .card{
        width: calc(100% / 6 - 16px);
    }

    /* FOOTER */

    #footer-center{
        width: 450px;
    }

    #timing{
        margin: auto;
    }


}